
.comments{
  &__wrap {

  }
  &__button {
    position: fixed;
    bottom: 0;
    right: 690px;
    width: 30px;
    background-color: $color-white;
    height: 95vh;
    text-align: center;
    padding-top: 40px;
    border-radius: 8px 0 0 8px;
    box-shadow: -5px 0 10px rgba(0,0,0,0.2);
    color: $color-darkGray;
    transition-duration: 0.1s;
    transition-property: right;
    transition-timing-function: ease-out;
    &:hover {
      background-color: $color-hover;
      color: $mainColor-accent;
    }
    &--open {
      right: 1170px;
    }
  }
  &__area {
    overflow-y: scroll;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 95vh;
    width: 480px;
    transition-duration: 0.1s;
    transition-property: right;
    transition-timing-function: ease-out;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    &--open {
      right: 690px;
      background-color: $color-veryLightGray;
    }

  }
  &__card {
    margin-bottom: 10px;
  }
}

.comment {

  &__header {
    margin-bottom: 10px;
  }
  &__authorName {
    font-size: 0.7rem;
    color: $color-darkGray;
    margin-right: 5px;
  }
  &__date{
    font-size: 0.6rem;
    color: $color-lightGray;
  }
  &__body {
    font-size: 0.7rem;
  }
}