
.comments{
  &__wrap {

  }

  &__button {
    position: fixed;
    bottom: 0;
    right: 690px;
    width: 30px;
    background-color: $color-white;
    height: 95vh;
    text-align: center;
    padding-top: 40px;
    border-radius: 8px 0 0 8px;
    box-shadow: -5px 0 10px rgba(0,0,0,0.2);
    color: $color-darkGray;
    transition-duration: 0.2s;
    transition-property: right;
    transition-timing-function: linear;
    &:hover {
      background-color: $color-hover;
      color: $mainColor-accent;
    }
    &--open {
      right: 1170px;
    }
  }
  &__area {
    overflow-y: scroll;
    position: fixed;
    bottom: 0;
    right: 0;
    height:95vh;
    width: 0;
    transition-duration: 0.2s;
    transition-property: width;
    transition-timing-function: linear;
    box-shadow: -5px 0 10px rgba(0,0,0,0.2);
    padding: 30px 40px;
    &--open {
      right: 690px;
      width: 480px;
      background-color: $color-white;
    }


  }

  &__title {
    font-size: 1rem;
    margin: 0 20px 15px;
    font-weight: bold;
  }
  &__description {
    border: solid 1px $color-textBack;
    background-color: $color-textBack;
    font-size: 0.7rem;
    border-radius: 5px;
    padding: 10px;
    word-break: break-word;
    &--close {
      max-height: 400px;
      overflow: scroll;
    }

    h2 {
      margin: 10px 0 8px;
    }
    h3 {
      margin: 8px 0 5px;
    }
    ol, ul,  p{
      margin: 5px 0;
    }
    pre{
      font-family: 'Inconsolata', monospace;
      margin: 5px 0;
      padding: 5px;
      background-color: $color-white;
      border-radius: 5px;
    }
  }
}
