.issues {
  &__area {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
  }
  &__item {
    font-size: 1rem;
    display: flex;
    align-items: center;
    background-color: $color-white;
    //border-bottom: solid 1px $color-lightGray;
    padding: 5px 0;
    &:hover {
      background-color: $color-hover;
    }
  }

}

@mixin dogEarStyle{
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  border-style: solid;
  border-width: 0 0 15px 15px;
}

.issueItems {
  &__watcher {
    color: transparent;
    position: absolute;
    top:0;
    left: 0;
    color: $color-veryLightGray;
    height: 100%;
    width: 60px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-transition: -moz-transform 0.3s linear;
    -webkit-transition: -webkit-transform 0.3s linear;
    -o-transition: -o-transform 0.3s linear;
    -ms-transition: -ms-transform 0.3s linear;
    transition: color 0.2s linear;
    &:hover {
      color: $color-hover;
    }
    &--watch {
      color: $color-watch;
      -moz-transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
    }
  }
  &__dogEarButton {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 100%;
    transition: border-color 0.2s linear;
    &:hover::after {
      @include dogEarStyle;
      border-color: transparent transparent $mainColor-highLight transparent;
    }
  }
  &__content {
    position: relative;
    &--updated {
      background-color: $color-updated;
    }
    &--dogEar::after {
      border-color: transparent transparent #cccccc transparent;
      @include dogEarStyle;
      z-index: 100;
    }
    &--closed {
      background-color: $color-lightGray;
      color: $color-darkGray;
    }
  }


  &__header {
    display: block;
    line-height: 1;
    margin-bottom: 3px;
    overflow-x: hidden;
    margin-left: 30px;
    padding-left: 40px;
  }
  &__id {
    color: $color-lightGray;
    min-width: 80px;
    font-size: 0.7rem;
    display: inline-block;
    vertical-align: bottom;
  }
  &__projectName {
    font-size: 0.7rem;
    display: inline-block;
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: bottom;
  }
  &__title {
    font-size: 0.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    transition: font-weight 200ms linear;
    padding-left: 40px;
    .issues__item:hover &{
      font-weight: bolder;
    }
  }
  &__assigneeName {
    font-size: 0.8rem;
    color: $color-darkGray;
  }
  &__assigneeIcon {
    padding-right: 8px;
  }

  &__description {

  }
  &__footer{
    margin: 5px 0 5px 15px;

  }
  &__limit {
    color: $color-darkGray;
    font-size: 0.7rem;
    width: 170px;
    display: inline-block;
    &__caret{
      padding: 0 8px 0 10px;
    }
    &--inProgress {
      color: $mainColor-accent;
    }
    &--expired {
      color: $color-red;
    }
  }
  &__limitIcon {
    padding-right: 8px;
  }
}