
.singleIssue{
  &__area {
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    height:100vh;
    transition: width 600ms cubic-bezier(0, 0, 0.1, 0.99), background-color 600ms cubic-bezier(0, 0, 0.1, 0.99), opacity 600ms cubic-bezier(0, 0, 0.1, 0.99);
    width: 0vh;
    opacity: 0;
    box-shadow: -5px 0 10px rgba(0,0,0,0.2);
    padding: 30px 40px;
    &--open {
      width: 70vw;
      background-color: $color-white;
      opacity: 1;
    }
  }

  &__title {
    font-size: 1rem;
    margin: 0 20px 15px;
    font-weight: bold;
  }
  &__description {
    border: solid 1px $color-textBack;
    background-color: $color-textBack;
    font-size: 0.7rem;
    border-radius: 5px;
    padding: 10px;
    word-break: break-word;
    &--close {
      max-height: 400px;
      overflow: scroll;
    }

    h2 {
      margin: 10px 0 8px;
    }
    h3 {
      margin: 8px 0 5px;
    }
    ol, ul,  p{
      margin: 5px 0;
    }
    pre{
      font-family: 'Inconsolata', monospace;
      margin: 5px 0;
      padding: 5px;
      background-color: $color-white;
      border-radius: 5px;
    }
  }
}



.singleIssue__parentList{
  font-size: 0.7rem;
  margin-bottom: 10px;
  &__parentItem {
    color: $color-darkGray;
    &:after {
      content: 'ã€‰';
      color: #bbbbbb;
      padding: 0 3px 0 10px;
    }
  }
  &__currentItem {
    color: $mainColor-accent;
    font-weight: bold;
  }
}


.singleIssue__statusList {
  font-size: 0.8rem;
  padding: 10px 0;
  &__row {
    display: flex;
    align-items: center;
    padding: 10px 30px
  }

  &__icon {
    padding-right: 8px;
  }
  &__title {
    width: 150px;
    color: $color-lightGray;
  }

  &__body {
    color: $mainColor-accent;
  }

  &__limit {
    color: $color-darkGray;
    &Icon{
      padding: 0 8px 0 10px;
    }
    &--inProgress {
      color: $mainColor-accent;
    }
    &--expired {
      color: $color-red;
    }
  }

}